@import "../index.css";

.register-header {
  background: var(--white);
  width: 500px;
  text-align: center;
  position: relative;
  padding: 16px 0;
  border-radius: 0.2em 0.2em 0 0;
  z-index: 2;
}

.register {
  background: rgb(237, 67, 103);
  background: var(--gradient);
  height: 100%;
  width: 100%;
  position: fixed;
  padding-top: 20px;
}

.simple-slider {
  position: relative;
  bottom: 44px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.slide {
  padding: 15px;
  background-color: var(--white);
  border-radius: 0.5em;
  width: 500px;
  height: 400px;
}
.carousel-inner,
.carousel-items-container {
  height: 100%;
}
.carousel-item {
  padding: 5px;
  height: 100%;
}
.input-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
select,
textarea,
.custom-select,
input[type="number"] {
  color: black;
}
input.register-first,
input.register-user,
input.register-password,
input.register-email,
input[type="date"],
input[type="number"] {
  background: var(--white);
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
input[type="date"],
input[type="number"] {
  width: 100%;
}
input[type="number"] {
  width: 150px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.form-check,
.form-check-label {
  display: inline;
}
input[type="checkbox"]:checked:before {
  background: var(--white);
}

/* .slider-item {
  text-align: center;
  justify-content: center;
  display: flex;
}

.panel {
  background: var(--primary);
} */
